<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Налаштування email</title>
  <link type="text/css" rel="stylesheet" href="vendor/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="vendor/bootstrap-vue.min.css">
</head>
<body>
  <div id="app" style="display: none">
    <b-container>
      <h2>Налаштування email</h2>
    <b-form @submit.prevent="onSubmit">
      <b-form-row>
      <b-col lg>
        <b-form-group label="Email адміністратора (тут можна вказати декілька адрес)">
          <b-form-textarea v-model="editable.emails" rows="3" max-rows="30"></b-form-textarea>
         </b-form-group>
      </b-col>
      </b-form-row>
      <b-form-row>
      <b-col lg>
        <b-form-group label="From name">
          <b-form-input v-model="editable.fromn" type="text" maxlength="50"></b-form-input>
        </b-form-group>
      </b-col>
      <b-col lg>
        <b-form-group label="From email">
          <b-form-input v-model="editable.from_email" type="text" maxlength="50"></b-form-input>
        </b-form-group>
      </b-col>
      </b-form-row>
      <b-form-row>
      <b-col lg>
        <b-form-group label="SMTP username">
          <b-form-input v-model="editable.smtp_username" type="text" maxlength="50"></b-form-input>
        </b-form-group>
      </b-col>
      <b-col lg>
        <b-form-group label="SMTP password">
          <b-form-input v-model="editable.smtp_password" type="password" maxlength="50"></b-form-input>
        </b-form-group>
      </b-col>
      </b-form-row>
      <b-form-row>
      <b-col lg>
        <b-form-group label="SMTP server">
          <b-form-input v-model="editable.smtp_server" type="text" maxlength="50"></b-form-input>
        </b-form-group>
      </b-col>
      </b-form-row>
      <b-form-row>
      <b-col lg>
        <b-button type="submit" variant="primary">Зберегти налаштування</b-button> 
        <b-button type="button" variant="secondary" @click="sendTest">Відправити тестового листа</b-button>
      </b-col>
      </b-form-row>
    </b-form>
    <pre style="color: red">{{ server_error }}</pre>
    <span style="color: green" v-if="server_error == null">OK</span>
    </b-container>
    <footer>
      <b-card>
      <h3>Як налаштувати адресу, з якої відправляються листи (на прикладі gmail)</h3><br>
      <b>Важливо:</b>
      <ul>
        <li>використовувати основний пароль від аккаунта google не можна</li>
        <li><u>From email</u> має співпадати з <u>SMTP username</u>, інакше листи підуть у спам</li>
      </ul>
      <ol>
        <li>У вашому аккаунті google треба <a href="https://support.google.com/accounts/answer/185839" target="_blank">увімкнути двохетапну перевірку</a> (якщо не зробили цього раніше)</li>
        <li><a href="https://support.google.com/accounts/answer/185833" target="_blank">Створити пароль додатка</a>. Вибрати додаток – пошта, пристрій – інше (вказати довільну назву)</li>
        <li>Ввести пароль додатка на цій сторинці (<u>SMTP password</u>)</li>
        <li>У полях <u>SMTP username</u> та <u>From email</u> вказати вашу email адресу</li>
        <li><u>SMTP server</u> – залишити <b>smtp.gmail.com</b></li>
        <li>Натиснути «Зберегти налаштування», потім «Відправити тестового листа»</li>
      </ol>

      support: <a href="https://t.me/oleksvot">@oleksvot</a>
      </b-card>
    </footer>
  </div>
  <script src="vendor/vue.min.js"></script>
  <script src="vendor/bootstrap-vue.min.js"></script>
  <script>

const MAILER_ID = 'osean'

const APP_URL = 'https://homserv.net/a/mailer'

function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

async function request(uri, post_data=null) {
  var tries = 30
  var options = {cache: "no-store"}
  if (post_data) {
    tries = 1
    options.method = 'POST'
    options.body = JSON.stringify(post_data)
    options.headers = {
      'Content-Type': 'application/json'
    }
  }
  for (t = 0; t < tries; t ++) {
    var res = null
    var raw = null
    var js = null
    try {
      res = await fetch(APP_URL + uri, options)
      raw = await res.text()
      js = JSON.parse(raw)
    } catch {}
    if (res && res.ok && js) {
      app.server_error = js.ok ? null : ''
      if (js.error) { app.server_error = js.error }
      return js
    }
    app.server_error = js ? JSON.stringify(js, null, 2) : (raw ? raw : `fetch ${APP_URL}${uri} failed`)
    await sleep(2000)
  }
}


const app = new Vue({
  data: {
    editable: {},
    server_error: '',
    token: ''
  },
  methods: {
    onSubmit() {
      request('/set_cfg', {mailer_id: MAILER_ID, token: this.token, cfg: this.editable})
    },
    sendTest() {
      request('/send', {mailer_id: MAILER_ID, subject: 'Test message', message: 'Just test'})
    }
  },
  async mounted() {
    this.token = location.hash.replace('#', '')
    if (!this.token) {
      return alert('no token')
    }
    this.editable = await request('/get_cfg', {mailer_id: MAILER_ID, token: this.token})
    document.getElementById('app').style.display = 'block'
  }
}).$mount('#app')
  </script>
</body>
</html>